name: Merge Portainer JSONs

on:
    push:
        branches: ["master"]

jobs:
    mergeJsons:
        name: Merge Portainer JSONs
        runs-on: ubuntu-latest
        permissions: 
            contents: write
        steps:
            - name: Checkout Branch
              uses: actions/checkout@v5

            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                python-version: '3.13'

            - run: |
                python portainer/merge_templates.py
                git config user.name github-actions
                git config user.email github-actions@sedonanet
                git add .
                git commit -m "GitHub Actions Merged Portainer Templates"
                git push